@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(135deg, #e8f1f8, #f9fbfc);
}